html {
  font-size: 12px;
  --main-bg-color:#f4f1de;
  --main-color-one: #5f0f40;
  --main-color-two: #fff;
  --main-color-three:#03045e;
}
h1 {
    margin: 0;
}
body {
    background-color: var(--main-bg-color);
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
a {
    text-decoration: none;
    color: var(--main-color-three);
}

*::before,
*::after {
  display: block;
  position: relative;
}

* {

  position: relative;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* 
navigation header */
nav#nav {
  width: 100%;

}
/*same*/
ul#flexul.flex-ul *:hover {
    color: var(--main-color-three)

}
ul#flexul.flex-ul.flexulafter {

}
/*same end*/

li.flex-li:first-child { /*header text drinklib*/
    color: var(--main-color-one);
 
    font-family: "Viaoda Libre", cursive;
    font-size: 2rem;
    font-weight: 400;
    padding: 1rem 1rem 0 1rem;
    margin: 0;
    letter-spacing: 0.01em;
    text-transform: none;

}

form#formli.formli {

  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  gap: 0.5rem;
  padding-bottom: 0.75rem;


}
form#formli.formli.formliafter {
/*mobile adjust?*/


}
input {
letter-spacing: 0.6ch;
font-family: "Federo", sans-serif;
  color: rgba(34, 72, 51, 0.42);
  font-style: normal;
  font-weight: 400;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  padding: 0.76rem;
  min-width: fit-content;
width:50%;
  text-align: center;
}
button#formlibtn.formlibtnafter {
 border: none;   
background-color:#ffffff00;
}
i.meep.fa-solid.fa-martini-glass {

  color: rgb(117, 117, 117);
  font-size: 1.3rem;
  padding: 1rem 1rem 1rem 0;
  background-color:#ffffff00;
  border: none;
}

button#formlibtn, 
button#formlibtn:hover, 
button#formlibtn:active {
    background-color:#ffffff00; border: none;   
    
}
/* 
main content area */
div#fullbar.wrap.carousel {

  display: flex;
  align-items: center;
}

.hide {
  display: none;
}
button#slideBack.show {

  position: absolute;
  top: 40vh;
  cursor: pointer;
border: none;
  z-index: 2;
  left: -0;
  background-color: #030300;
  padding: 1rem;
  color: white;
  border-radius: 100%;
}
main.flex {
  padding: 0 3rem;

  width: 95vw;
  justify-content: center;
  align-items: center;
  display: flex;
}
/*slides*/
article.flexCard.slide {
  align-self: center;
  width: 100%;
  padding: 1.5rem;
  background-color: var(--main-color-two);
  border-radius: 20px;

  display: none;

}

article.flexCard.slide[data-active] {
  display: inline-block;
  opacity: 1;
}
section.drinkwrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}

div.title {
  clear: both;
  display: flex;
  margin: 0 auto;

  flex-direction: column;

  align-content: center;

 
}
img.drinkImg {

  width: 80%;
  justify-self: center;
  margin: 1rem auto;
  border-radius: 100%;
  min-width: 150px;
}
h2.drinkTitle {


    font-family: "Ms Madi", cursive;
 
    color:var(--main-color-three);
  width: 100%;
  margin: 0 auto;
  font-size: 4em;
  text-align: center;
}
div.drinkInfoContainer {
  display: flex;
  font-family: "Federo", sans-serif;

  flex-direction: column;
  /*adjust for mobile*/

}
 h2.drinkTitle{ padding: 1rem;}

div.drinkInfoL {
    text-transform: uppercase;
}

p.drinkGlass {
text-transform: none;
  text-align: left;
  color: var(--main-color-one);
  font-size: 1.2em;
  font-weight: 600;
  font-style: oblique;
  text-indent: 0.5rem;
  letter-spacing: 0.2ch;;
}
h2.ingredH {

  text-transform: lowercase;

}
.drinkInfoL ul { display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    color:var(--main-color-three);
    

}
li.ingredLi {

}
p {

}

div.drinkInfoR {

}
h3.drinkIns, .ingredH {
-moz-text-decoration-style: wavy;
text-decoration-style: dashed;
line-height: 1rem;
text-decoration-color: rgb(4, 78, 214);
text-decoration-line:underline;
text-decoration-thickness: 0.2rem;
text-decoration-skip-ink:var(--main-color-one);
text-indent: 0.1rem;
text-underline-offset: 0.4rem;
}
.drinkInfoR p {
color: var(--main-color-three);
line-height: 1.7rem;
font-family: sans-serif;
text-indent: 0.25rem;
text-align: left;

}

button#slideFront.show {
    cursor: pointer;
  position: absolute;
  top: 40vh;
  right: 0;
  z-index: 2;
  background-color:#030300;
  color: white;
  padding: 1rem;
  border-radius: 100%;
  border:none;
  
}
#slideBack:hover,
#slideFront:hover,
#slideBack:focus,
#slideFront:focus {
  color: rgb(255, 255, 255);
  background-color: #346581a1;
}

#slideBack:focus,
#slideFron:focus {
  outline: 1px solid black;
}

.nodrinky {
    color: var(--main-color-one);
    margin-top: 4rem;
}

.nodrinky h2 {
    font-size: 3rem;font-family: "Federo", sans-serif;
    text-transform: capitalize;
    text-align: center;

}
.nodrinky p {
    font-family: sans-serif;
    color: black;
    text-align: center;
    font-weight: 600;
    line-height: 1.8rem;
    letter-spacing: 0.12ch;
    font-size: 1.2rem;
} 

/*footer*/
.foot {
  padding: 4rem 0 2rem 0 ;
align-self: flex-end;
justify-self: flex-end;

}

.ful {
  display: flex; 
  gap: 1rem;  font-size: 1.2rem;
  color:rgb(171, 171, 171);
  font-family: "Federo", sans-serif;
  text-transform: lowercase;
  flex-wrap: wrap;

}

.ful a {  color:rgb(171, 171, 171);

}
.ful a:hover {
  color: var(--main-color-one)
}

body{
  min-height: 100vh;
}
/*before text entered -> full screen search styling
styling for the search area to make it full screen before a drink is searched on initial load
*/
nav#nav.land {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40vh;
}


nav#nav.land ul.land {
display: flex;
    flex-direction: column;
    gap: 2rem;
}

form#formli.formli.land {
  gap: 2rem;
  flex-direction: column;

}

form#formli.formli.land input.land {
  width: 200px;
}


@media only screen and (min-width: 500px) {
  
img.drinkImg {
max-width: 400px;


}
  
article.flexCard.slide {

width: 90%;}

}

@media only screen and (min-width: 722px) {
  
  
  
form#formli.formli input {
  width: 300px;
}

  article.flexCard.slide {
  
    width: 80%;
  }
  
}
@media only screen and (min-width: 974px) {
  
  div.drinkInfoContainer {
    flex-direction: row;
  }

  .drinkInfoR {
    padding-top: 2.5rem;
  }
  
  article.flexCard.slide {
  
    width: 75%;
  }}
  @media only screen and (min-width: 1110px) {
  
  
  
    article.flexCard.slide {
    
      width: 70%;
    }}

    @media only screen and (min-width: 1310px) {
  
  
  
      article.flexCard.slide {
      
        width: 65%;
      }}

      
    @media only screen and (min-width: 1410px) {
  
  
  
      article.flexCard.slide {
      
        width: 50%;
      }}
  
  


/*before text entered -> full screen search styling
*>
/*
    body {
        background-color: red;
    }

        nav#nav {
            background-color: rebeccapurple;
        }
            ul.#flexul.flex-ul.flexulafter {
    
            }
            li.flex-li
            {}
            li.flex-li.findDrink {}
                 form.#formli.formLi.formafter {}
                    input {}
                    button.#formlibtn.formlibtnafter {}
                        i.meep.fa-solid.fa-martini-glass{} 
                    

    div.#fullbar.wrap.carousel {}
        button.#slideBack.show {}
        main.flex{}

        article.flexCard.slide {}
            section.drinkwrap {}
                div.title{}
                    img.drinkImg{}
                    h2.drinkTitle{}
                div.drinkInfoContainer{}
                    div.drinkInfoL{}
                        p.drinkGlass{}
                        h2.ingredH{}
                        ul{}
                            li.ingredLi{};
                        p{}
    
                    div.drinkInfoR{}
                        h3.drinkIns{}
                        p{}
                        
    
    
    
    
        button.#slideFront.show{}
    */
